/* mystyle.css */


/*						background-color

background-image

background-repeat

background-attachment

background-position*/


/*						text-color

text-align

text-decoration

text-transformation 
*/


/*						Font
font-family

font-style

font-size
 */
h4 {
    color: rgb(128, 0, 32);
    font-size: 20pt;
}

/* Add more CSS rules here as needed */

body {
	
	background-color: rgb(241, 241, 241);
	
}
